<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartmax|Ecommerce Website</title>
    <link rel="stylesheet" th:href="@{css/kidsstyle.css}">

</head>
<body>
     <div class="header">
    <div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="images/logo.png.jpeg" width="50px" height="50px">
        </div> 
        
    </div>
    <div class="row">
        <div class="col-2">
        <h1>Kids Fashion<br>World!</h1>
        </div>
        <div class="col-2">
        <img src="images/kingmaker.jpeg">
        </div>
    </div> 
    </div>
     </div>
     <div class="categories">
         <div class="small-container">
         <div class="row">
             <div class="col-3">
             <img src="images/C-1.jpeg">
              <center><p><H1>$999</H1></p></center>
             <center><p>Kids Wear<br>Cotton</p><br>
                <h2 button style="background-color: darkorange; border-color: white"; input type="button" onclick="location.href='/delivery'">BUY NOW</button></h2><br><br>
                <h2 button style="background-color: whitesmoke; border-color: black";input type="button" onclick="location.href='/cart'">ADD TO CART</button></center>
             </div>
             <div class="col-3">
                <img src="images/C-2.jpeg" height="445px">
                <center><p><H1>$499</H1></p></center>
                <center><p><br>Baby toys</p><br>
                   <h2 button style="background-color: darkorange; border-color: white"; input type="button" onclick="location.href='/delivery'">BUY NOW</button></h2><br><br>
                   <h2 button style="background-color: whitesmoke; border-color: black";input type="button" onclick="location.href='/cart'">ADD TO CART</button></center>
             </div>
             <div class="col-3">
                <img src="images/C-3.jpeg"height="445px">
                <center><p><H1>$499</H1></p></center>
                <center><p>LMN Child Care <br>Bootie</p><br>
                   <h2 button style="background-color: darkorange; border-color: white"; input type="button" onclick="location.href='/delivery'">BUY NOW</button></h2><br><br>
                   <h2 button style="background-color: whitesmoke; border-color: black";input type="button" onclick="location.href='/cart'">ADD TO CART</button></center>
             </div>
         </div>
     </div>
     </div>
     <div class="small-container">
         <h2 class="title">Featured Products</h2>
         <div class="row">
             <div class="col-4">
                 <img src="images/A-1.jpeg">
                 <center><p><H1>$1099</H1></p></center>
                 <center><p>Kids Frock</p><br>
                    <h2 button style="background-color: darkorange; border-color: white";input type="button" onclick="location.href='/delivery'">BUY NOW</button></h2><br><br>
                    <h2 button style="background-color: whitesmoke; border-color: black";input type="button" onclick="location.href='/cart'">ADD TO CART</button></center>
                 
            
             </div>
             <div class="col-4">
                <img src="images/A-2.jpeg">
                <center><p><H1>$499</H1></p></center>
             <center><p>Child Bootie</p><br>
                <h2 button style="background-color: darkorange; border-color: white";input type="button" onclick="location.href='/delivery'">BUY NOW</button></h2><br><br>
                <h2 button style="background-color: whitesmoke; border-color: black";input type="button" onclick="location.href='/cart'">ADD TO CART</button></center>
                
            
            </div>
            <div class="col-4">
                <img src="images/A-3.jpeg">
                <center><p><H1>$499</H1></p></center>
                <center><p>Kids Stylish Slipper</p><br>
                   <h2 button style="background-color: darkorange; border-color: white";input type="button" onclick="location.href='/delivery'">BUY NOW</button></h2><br><br>
                   <h2 button style="background-color: whitesmoke; border-color: black";input type="button" onclick="location.href='/cart'">ADD TO CART</button></center>
                
            
            </div>
            <div class="col-4">
                <img src="images/A-4.jpeg"height="240px">
                <center><p><H1>$499</H1></p></center>
                <center><p>Toy Teddy</p><br>
                   <h2 button style="background-color: darkorange; border-color: white";input type="button" onclick="location.href='/delivery'">BUY NOW</button></h2><br><br>
                   <h2 button style="background-color: whitesmoke; border-color: black";input type="button" onclick="location.href='/cart'">ADD TO CART</button></center>
                
               
            </div>
         </div>
         <h2 class="title">Latest Products</h2>
         <div class="row">
            <div class="col-4">
                <img src="images/A-5.jpeg" height="280px">
                <center><p><H1>$1199</H1></p></center>
             <center><p>Baby boys <br>Dungaree Bow Tie Shirt</p><br>
                <h2 button style="background-color: darkorange; border-color: white";input type="button" onclick="location.href='/delivery'">BUY NOW</button></h2><br><br>
                <h2 button style="background-color: whitesmoke; border-color: black";input type="button" onclick="location.href='/cart'">ADD TO CART</button></center>
               
            </div>
            <div class="col-4">
               <img src="A-6.jpeg">
               <center><p><H1>$699</H1></p></center>
             <center><p>Crocs for Kids</p><br>
                <h2 button style="background-color: darkorange; border-color: white";input type="button" onclick="location.href='/delivery'">BUY NOW</button></h2><br><br>
                <h2 button style="background-color: whitesmoke; border-color: black";input type="button" onclick="location.href='/cart'">ADD TO CART</button></center>
               
              
           </div>
           <div class="col-4">
               <img src="images/A-7.jpeg" height="300px">
               <center><p><H1>$499</H1></p></center>
             <center><p>Toy Watch for Kids</p><br>
                <h2 button style="background-color: darkorange; border-color: white";input type="button" onclick="location.href='/delivery'">BUY NOW</button></h2><br><br>
                <h2 button style="background-color: whitesmoke; border-color: black";input type="button" onclick="location.href='/cart'">ADD TO CART</button></center>
           </div>
           <div class="col-4">
               <img src="images/A-8.jpeg" height="285px">
               <center><p><H1>$499</H1></p></center>
               <center><p>The Brainy Bear <br>Toy</p><br>
                  <h2 button style="background-color: darkorange; border-color: white";input type="button" onclick="location.href='/delivery'">BUY NOW</button></h2><br><br>
                  <h2 button style="background-color: whitesmoke; border-color: black";input type="button" onclick="location.href='/cart'">ADD TO CART</button></center>
           </div>
        </div>
     </div>
     <div class="offer">
         <div class="small-container">
             <div class="row">
                 <div class="col-2">
                     <img src="images/Exclusive.jpeg" class="offer-img">
                 </div>
                 <div class="col-2">
                     <p>Exclusively available on Cartmax</p>
                     <h1>Smart Band 4</h1>
                 </div>
                 
             </div>
         </div>
     </div>
     <div class="brands">
         <div class="small-container">
             <div class="row">
                 <div class="col-5">
                     <img src="images/play maysie.jpeg">
                 </div>
                 <div class="col-5">
                    <img src="images/childs play.jpeg">
                </div>
                <div class="col-5">
                    <img src="images/babiesandmom.jpeg">
                </div>
                <div class="col-5">
                    <img src="images/balloons.jpeg">
                </div>
             </div>
         </div>
     </div>
</body>
</html>