<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartmax|Ecommerce Website</title>
    <link rel="stylesheet" th:href="@{css/menstyle.css}">

</head>
<body>
     <div class="header">
    <div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="images/logo.png.jpeg" width="50px" height="50px">
        </div> 
         
    </div>
    <div class="row">
        <div class="col-2">
        <h1>Give Your Workout<br>A new Style!</h1>
        </div>
        <div class="col-2">
        <img src="images/image1.png">
        </div>
    </div>
    </div>
     </div>
     <div class="categories">
         <div class="small-container">
         <div class="row">
             <div class="col-3">
             <img src="images/category-1.jpg">
             <center><p><H1>$999</H1></p></center>
             <center><p>Jeans for Men</p><br>
                <h2 button style="background-color: darkorange; border-color: white" input type="button" onclick="location.href='/delivery'";>BUY NOW</button></h2><br><br>
                <h2 button style="background-color: whitesmoke; border-color: black" input type="button" onclick="location.href='/cart'";>ADD TO CART</button></center>
             </div>
             <div class="col-3">
                <img src="images/category-2.jpg">
                <center><p><H1>$699</H1></p></center>
                <center><p>Shoe for Men</p><br>
                   <h2 button style="background-color: darkorange; border-color: white" input type="button" onclick="location.href='/delivery'";>BUY NOW</button></h2><br><br>
                   <h2 button style="background-color: whitesmoke; border-color: black"input type="button" onclick="location.href='/cart'";>ADD TO CART</button></center>
             </div>
             <div class="col-3">
                <img src="images/category-3.jpg">
                <center><p><H1>$499</H1></p></center>
                <center><p>Addidas Tshirt</p><br>
                   <h2 button style="background-color: darkorange; border-color: white" input type="button" onclick="location.href='/delivery'";>BUY NOW</button></h2><br><br>
                   <h2 button style="background-color: whitesmoke; border-color: black"input type="button" onclick="location.href='/cart'";>ADD TO CART</button></center>
             </div>
         </div>
     </div>
     </div>
     <div class="small-container">
        <center> <h1>Featured Products</h1></center><br>
         <div class="row">
             <div class="col-4">
                 <img src="images/men1.jpg">
                 <center><p><H1>$499</H1></p></center>
             <center><p>Black Mens Shirt</p><br>
                <h2 button style="background-color: darkorange; border-color: white" input type="button" onclick="location.href='/delivery'";>BUY NOW</button></h2><br><br>
                <h2 button style="background-color: whitesmoke; border-color: black"input type="button" onclick="location.href='/cart'";>ADD TO CART</button></center>
                 
                 
             </div>
             <div class="col-4">
                <img src="images/men2.jpg">
                <center><p><H1>$499</H1></p></center>
                <center><p>Red Shirt for Men</p><br>
                   <h2 button style="background-color: darkorange; border-color: white" input type="button" onclick="location.href='/delivery'";>BUY NOW</button></h2><br><br>
                   <h2 button style="background-color: whitesmoke; border-color: black"input type="button" onclick="location.href='/cart'";>ADD TO CART</button></center>
                
        
            </div>
            <div class="col-4">
                <img src="images/men3.jpg">
                <center><p><H1>$499</H1></p></center>
             <center><p>Black Shirt</p><br>
                <h2 button style="background-color: darkorange; border-color: white" input type="button" onclick="location.href='/delivery'";>BUY NOW</button></h2><br><br>
                <h2 button style="background-color: whitesmoke; border-color: black"input type="button" onclick="location.href='/cart'";>ADD TO CART</button></center>
            </div>
            <div class="col-4">
                <img src="images/men4.webp">
                <center><p><H1>$499</H1></p></center>
                <center><p>Stylish T-Shirt</p><br>
                   <h2 button style="background-color: darkorange; border-color: white" input type="button" onclick="location.href='/delivery'";>BUY NOW</button></h2><br><br>
                   <h2 button style="background-color: whitesmoke; border-color: black"input type="button" onclick="location.href='/cart'";>ADD TO CART</button></center>
            </div>
         </div>
         <center> <h1>Latest Products</h1></center><br>
         <div class="row">
            <div class="col-4">
                <img src="images/product-1.jpg">
                <center><p><H1>$399</H1></p></center>
             <center><p>Red Tshirt Slimfit</p><br>
                <h2 button style="background-color: darkorange; border-color: white" input type="button" onclick="location.href='/delivery'";>BUY NOW</button></h2><br><br>
                <h2 button style="background-color: whitesmoke; border-color: black"input type="button" onclick="location.href='/cart'";>ADD TO CART</button></center>
            </div>
            <div class="col-4">
               <img src="images/product-2.jpg">
               <center><p><H1>$899</H1></p></center>
               <center><p>Stylish Shoe for Men</p><br>
                  <h2 button style="background-color: darkorange; border-color: white" input type="button" onclick="location.href='/delivery'";>BUY NOW</button></h2><br><br>
                  <h2 button style="background-color: whitesmoke; border-color: black"input type="button" onclick="location.href='/cart'";>ADD TO CART</button></center>
           </div>
           <div class="col-4">
               <img src="images/product-3.jpg">
               <center><p><H1>$799</H1></p></center>
             <center><p>Pant for Men</p><br>
                <h2 button style="background-color: darkorange; border-color: white" input type="button" onclick="location.href='/delivery'";>BUY NOW</button></h2><br><br>
                <h2 button style="background-color: whitesmoke; border-color: black"input type="button" onclick="location.href='/cart'";>ADD TO CART</button></center>
           </div>
           <div class="col-4">
               <img src="images/product-4.jpg">
               <center><p><H1>$599</H1></p></center>
               <center><p>Black Tshirt for Men</p><br>
                  <h2 button style="background-color: darkorange; border-color: white" input type="button" onclick="location.href='/delivery'";>BUY NOW</button></h2><br><br>
                  <h2 button style="background-color: whitesmoke; border-color: black"input type="button" onclick="location.href='/cart'";>ADD TO CART</button></center>
           </div>
        </div>
     </div>
     <div class="offer">
         <div class="small-container">
             <div class="row">
                 <div class="col-2">
                     <img src="images/exclusive.png" class="offer-img">
                 </div>
                 <div class="col-2">
                     <p>Exclusively available on Cartmax</p>
                     <h1>Smart Band 4</h1>
                 </div>
                 
             </div>
         </div>
     </div>
     <div class="brands">
         <div class="small-container">
             <div class="row">
                 <div class="col-5">
                     <img src="images/logo-godrej.png">
                 </div>
                 <div class="col-5">
                    <img src="images/logo-oppo.png">
                </div>
                <div class="col-5">
                    <img src="images/logo-paypal.png">
                </div>
                <div class="col-5">
                    <img src="images/logo-coca-cola.png">
                </div>
             </div>
         </div>
     </div>
</body>
</html>