<!-- 

-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Terms & Services</title>
        <link rel="stylesheet" th:href="@{css/termsstyle.css}">
        </head>
        <body>
        <div class="content">
       <center>  <h5 style="font-size:60px; color:indianred;">Terms & Services</h5> </center>
          
          <h1 style="color:indianred">Eligibility:</h1>
          <h3 style="color:white"> Minimum Age: The Services and Website are available only to persons who are the age of majority and can form legally binding contracts under applicable law.Without limiting the foregoing.the Services and Website are not intended to be used by individuals
            under the age of 18. If you do not qualify, please do not use the Services or access the Website.<br>Registration will provide true accurate, current, and complete information when registering for an Account and will update the information as necessary.</p></h3>
                   
        
            <h1 style="color:indianred">Security:</h1>
 <h3 style="color:white">Generally. You are responsible for maintaining the security of your Account Credentials and for all Services ordered, accessed, or otherwise used in connection with your Account Credentials and all actions taken in association therewith. You will not share your Account Credentials with any third party.
    Payment Cards. BigCommerce is responsible for the security of credit cardholder data to the extent that BigCommerce has control of that data. To that end, BigCommerce undertakes regular assessments consistent with the applicable Payment Card Industry Data Security Standards (“PCI”). You represent and warrant that you will determine the PCI merchant requirements applicable to you and your use of the Services.
    Checkout Environment; PCI. organizational security measures and safeguards) for customer data stored and processed via the standard BigCommerce checkout (“Customer Data”) in order to protect Customer Data from unauthorized access and use. BigCommerce’s secure environment is certified under the Payment Card Industry Data Security Standard.</h3>
        
        
    <h1 style="color:indianred">Use Restrictions:</h1>
    <h3 style="color:white">This is an agreement for Services, and you are not granted a license to any software by these Terms. Except as permitted and non-excludable under applicable law, you will not, directly or indirectly: reverse engineer, decompile, disassemble, or otherwise attempt to discover the source code, object code, or underlying structure, ideas, or algorithms of or included in the Services or any software, documentation or data related to the Services (“Software”)</h3>
        
        
    <h1 style="color:indianred">CGA Terms:</h1>
        <h3 style="color:white"> BigCommerce reserves the right, in its discretion, to change, modify, add to, or remove portions of the Terms (collectively, “Changes”), at any time. BigCommerce will notify you of Changes by sending an email to the address identified in your Account and by posting a revised version of the Terms incorporating the Changes to its Website.</h3>
        
 </div>
        
        </body>
                    </html>
        
