*{
    margin:0;
    padding:0;
   }
   /*main background*/
   .main{
       width:100%;
       height:300vh;
       margin-top:20px;
      background-color: whitesmoke;
      background-repeat: no-repeat;
      background-position: cover;
      background-size:contain;
      background-attachment:fixed ;
   }
   /* related to nav bar*/
   .navbar{
       width:1200px;
       height:75px;
       margin:auto;
   }
   .menu{
       width:300px;
       float:left;
       height:70px;
      
   }
   
   ul{
       float:left;
       display:flex;
       justify-content:center;
       align-items:center;
   }
   
   ul li{
       list-style:none;
       margin-left:60px;
       margin-top:27px;
       font-size:14px;
   }
   
   ul li a{
       text-decoration:none;
       color: black;
       font-family:sans-serif;
       font-weight:bold;
       transition:0.4s ease-in-out;
   }
   a:hover{
       text-decoration: underline;
       
}
   /* for content body catrmax*/
   .content{
       width:1200px;
       height:auto;
       margin:auto;
       color:#fff;
       position:relative;
   }
   .content .par{
       padding-left:20px;
       padding-bottom:25px;
       font-family:sans-serif;
       letter-spacing:1.2px;
       line-height:30px;
   }
   
   .content h1{
       font-family: 'Lucida Console';
       color: black;
       font-style: oblique;
       font-size:50px;
       padding-left:20px;
       margin-top:9%;
       letter-spacing:2px;
   }
   .content p{
       color:black;
   }
   /* related to form */
    .form{
       width:250px;
       height:380px;
       position: absolute;
       top:-20px;
       left:870px;
       border-radius:10px;
       padding:25px;
   }
   
   .form h2{
       width:220px;
       font-family: sans-serif;
       text-align: center;
       color:black;
       font-size:22px;
       border-radius:10px;
       margin:2px;
       padding: 8px;
   }
    
    
    .form input{
        width:240px;
        height:35px;
        background:transparent;
        border-bottom:1px solid #ff7200;
      border-top: none;
      border-right: none;
      border-left: none;
       color:black;
       font-size:15px;
       letter-spacing:1px;
       margin-top:30px;
       font-family:sans-serif;
       
   }
   .form input:focus{
       outline:none;
   }
   .form input.placeholder{
       color:black;
       font-family: Arial;
   }
   /*related to btn login*/
   
   .form .text-login{
       text-decoration: none;
       color:black;
   }
    .btn{
    width:240px;
    height:40px;
    background:rgb(220, 123, 142);
    font-family: 'Times New Roman';
    border:none;
    margin-top: 30px;
    font-size: 15px;
    border-radius: 10px;
       }
    .btn:hover{
      background:rgb(173, 66, 66);
       }
       /* related to not member signup*/
    .form .login-signup{
        text-align: center;
        margin-top:20px;
    }
    .form .text-signup{
        text-decoration: none;  
    }
      /*related to btn signup*/
   .btnn{
       width:240px;
       height:30px;
       background:rgb(220, 123, 142);
    font-family: 'Times New Roman';
    font-size: 15px;
    border:none;
    border-radius: 10px;
   }
   .btnn:hover{
    background:rgb(173, 66, 66);
   }

   .signupform{
      width:100%;
    height:90vh;
    justify-content: center;
    align-items: center;
    display:flex;
    margin-top:20px;
    background-color: whitesmoke;
      background-repeat: no-repeat;
      background-position: center;
      background-size:contain;
      background-attachment:fixed ;
  
}
.signupform h2{
    width:220px;
    font-family: sans-serif;
    text-align: center;
    color:black;
    font-size:22px;
    border-radius:10px;
    margin:2px;
    padding: 8px;
}
.signupform input{
    width:240px;
    height:35px;
    background:transparent;
    border-bottom:1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
   color:black;
   font-size:15px;
   letter-spacing:1px;
   margin-top:30px;
   font-family:sans-serif;  
}  
.signupform input:focus{
    outline:none;
}
::placeholder{
    color:#fff;
    font-family: Arial;
}
.signupform .reg-signup{
    text-align: center;
    text-decoration: none;
    color:#fff;
    margin-top:20px;
}
.signupform .text-reg{
    text-decoration: none;
    color:white;
}
.signupform .text-signup{
    text-decoration: none;  
}