<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Cartmax|Ecommerce Website</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav">
            <img src="logo.png.jpeg" class="brand-logo" alt="" width="80px" height="100px">
            <div class="nav-items">
                <div class="search">
                    <input type="text" class="search-box" placeholder="search brand, product">
                    <button class="search-btn">search</button>
                </div>
                <img src="cart.png" width="30px" height="30px">
                <link rel="stylesheet" href="style1.css">
            </div>
        </div>
        </nav>
    <h3>
    <ul class="links-container">
    <li class="link-item"><a href="#" class="link" input type="button" onclick="location.href='Home.html'">home</a></li>
    <li class="link-item"><a href="#" class="link" input type="button" onclick="location.href='womens.html'">women</a></li>
    <li class="link-item"><a href="#" class="link" input type="button" onclick="location.href='mens.html'">men</a></li>
    <li class="link-item"><a href="#" class="link" input type="button" onclick="location.href='kids.html'">kids</a></li>
    <li class="link-item"><a href="#" class="link" input type="button" onclick="location.href='cosmetics.html'">accessories</a></li>
</ul>
</h3>

<!-- collections -->
<section class="collection-container">
    <a href="#" class="collection">
        <input type="image" src="mens1.jpg" onclick="location.href='mens.html'" width="100%" height="100%">
    </a>
    <a href="#" class="collection">
        <input type="image" src="women1.jpg" onclick="location.href='womens.html'" width="100%" height="100%">
    </a>
    <a href="#" class="collection">
        <input type="image" src="kids1.png" onclick="location.href='kids.html'" width="50%" height="50%">
    </a>
    <a href="#" class="collection">
        <input type="image" src="cosmetics1.jpg" onclick="location.href='cosmetics.html'" width="100%" height="100%">
      </a>
    <a href="#" class="collection">
        <input type="image" src="slippers1.png" onclick="location.href='slipper.html'" width="100%" height="100%">
    </a>
    
</section>
</body>
</html>